.responsive-image-container {
  margin-bottom: 10px;
  top: 0; 
  bottom: 0;
  left: 0%;
  right: 25%;
}

.image-caption {
    font-style: italic;
    color: #666666;
    text-align: left;
    font-size : small;
    cursor: pointer;  
}

